In [ ]:
#Q1 Create one variable containing following type of data:

(i)	string

(ii)list

(iii)float

(iv)tuple

In [ ]:
#1) string
a="PW SKills"
#2) list
b=[1,2,3,4,5,6, "PW", "skills", 20.4, True, False]
#3) float
c=70.5
#4) tuple
d=(1,2,3, "apple", "banana")

In [ ]:
#Q2Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1

In [ ]:
1) is string data type
2) is list data type
3) is list data type
4) is integer data type

In [ ]:
#Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [ ]:
1) / is the division operator

In [2]:
#example
a=4
b=2
a/b

2.0

In [ ]:
2) % It returns the remainder

In [3]:
#example
a=6
b=8
a%b

6

In [ ]:
3) // is the floor division

In [4]:
#example
a=11
b=4
a//b

2

In [ ]:
4) ** is the exponent powers

In [5]:
a=2
b=3
a**b

8

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [7]:
l=[1, 2.5, "hello", True, [1, 2, 3], {"name": "Saha"}, (4, 5, 6), None, 9.99, False]
for i in l:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'NoneType'>
<class 'float'>
<class 'bool'>

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [13]:
A = 100
B = 5

count = 0

while A % B == 0:
    A = A // B
    count += 1

print(f"Number A can be divided by number B {count} times.")

Number A can be divided by number B 2 times.

In [ ]:
Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [14]:
l = [5, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78]

for i in l:
    if i % 3 == 0:
        print("i is divisible by 3")
    else:
        print("i is not divisible by 3")

i is not divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

In [ ]:
Mutable meaning it allows to do changing in a particular syntax.....List is mutable

In [16]:
#example
l=[1,2,3,4,5,6]
l[4]=2

In [17]:
l

[1, 2, 3, 4, 2, 6]

In [ ]:
Immutable meaning it doesnt allow to do changing in a particular syntax.....string is immutable

In [18]:
#example
s="Hello World"
s(5)=v

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (4083832278.py, line 3)