In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of information. Databases are used to store and manage vast amounts of data in various applications and systems, ranging from small personal projects to large-scale enterprise applications.

In [ ]:
The five critical differences between SQL and NoSQL are:

SQL databases are relational, and NoSQL databases are non-relational.
SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

In [ ]:
the commands are as follows:-
1. Create
2. Drop
3. Alter
4. Truncate

In [ ]:
Command-1 :
CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

Syntax –

CREATE TABLE table_name
(
column_1 datatype,
column_2 datatype,
column_3 datatype,
....
);

In [ ]:
Example –
We need to create a table for storing Student information of a particular College. Create syntax would be as below.

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

In [ ]:
Command-2 :
DROP :
This command is used to remove an existing table along with its structure from the Database.

Syntax –
Syntax to drop an existing table.

DROP TABLE table_name;

In [ ]:
Example –
If the College Authority wants to change their Database by deleting the Student_info Table. 

DROP TABLE Student_info;

In [ ]:
Command-3 :
ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

Syntax –
Syntax to add a column to an existing table.

ALTER TABLE table_name
ADD column_name datatype;

In [ ]:
Example –
In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.

ALTER TABLE Student_info
ADD CGPA number;

In [ ]:
Command-4 :
TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

Syntax –
Syntax to remove an existing table.

In [ ]:
Example –
The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. The command they can use is as follows.

TRUNCATE TABLE Student_info;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) used for manipulating data within a database. DML statements allow you to perform operations such as inserting new data, updating existing data, and deleting data from database tables. Here are explanations and examples of the three primary DML statements: INSERT, UPDATE, and DELETE.

In [ ]:
INSERT Command
This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction. This is often used to connect an unused tag to the documents.

Syntax:

INSERT INTO <table_name> ('column_name1' <datatype>, 'column_name2' <datatype>)
VALUES ('value1', 'value2');

In [ ]:
Example :

INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))
VALUES ('1', 'Nirmit', 'Gorakhpur');

In [ ]:
UPDATE Command
This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.

Syntax:

UPDATE <table_name>
SET <column_name = value>
WHERE condition;

In [ ]:
Example:

UPDATE students
SET due_fees = 20000
WHERE stu_name = 'Mini';

In [ ]:
DELETE Command
It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.

Syntax:

DELETE FROM <table_name>
WHERE <condition>;

In [ ]:
Example:

DELETE FROM students
WHERE stu_id = '001';

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it.

In [ ]:
List of DQL: 

SELECT: It is used to retrieve data from the database.

In [ ]:
Example:
Suppose you have a database with a table named "Customers" that stores information about customers, including their names, email addresses, and cities. You can use the SELECT statement to retrieve the names and email addresses of all customers who live in a specific city, such as "New York."

In [ ]:
SELECT FirstName, LastName, Email
FROM Customers
WHERE City = 'New York';

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

In [ ]:
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

In [ ]:
The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.

Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

You can create Cursor object using the cursor() method of the Connection object/class.

Example
import mysql.connector

#establishing the connection
conn = mysql.connector.connect(
   user='root', password='password', host='127.0.0.1', database='mydb'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

In [ ]:
Explanation of the cursor() and execute() methods:

cursor() Method:

The cursor() method creates a cursor object associated with the database connection.
The cursor object is used to execute SQL queries and fetch results from the database.
execute() Method:

The execute() method is used to execute SQL queries on the database using the cursor object.
You pass an SQL query as a string to the execute() method.
After executing the query, the cursor can be used to fetch the results (if any) or perform other database operations.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
Order	 Clause	    Function
1	   FROM	     Tables are joined to get the base data.
2	WHERE	The base data is filtered.
3	GROUP BY	The filtered base data is grouped.
4	HAVING	The grouped base data is filtered.
5	SELECT	The final data is returned.
6	ORDER BY	The final data is sorted.
7	LIMIT	The returned data is limited to row count.