In [ ]:
Q1. List any five functions of the pandas library with execution.

In [ ]:
read_csv(): Used to read data from a CSV file into a Pandas DataFrame.

In [ ]:
import pandas as pd

# Read a CSV file into a DataFrame
df = pd.read_csv('data.csv')
print(df.head())

In [ ]:
head(): Displays the first n rows of a DataFrame (default n=5).

In [ ]:
# Display the first 3 rows of the DataFrame
print(df.head(3))

In [ ]:
describe(): Generates summary statistics of numeric columns in a DataFrame.

In [ ]:
# Generate summary statistics for numeric columns
print(df.describe())

In [ ]:
groupby(): Used for grouping data based on one or more columns.

In [ ]:
# Group data by the 'category' column and calculate the mean of 'value' column for each group
grouped = df.groupby('category')['value'].mean()
print(grouped)

In [ ]:
drop(): Allows you to drop specified labels from rows or columns in a DataFrame.

In [ ]:
# Drop the 'column_to_drop' column from the DataFrame
df = df.drop('column_to_drop', axis=1)
print(df.head())

In [ ]:
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the 
DataFrame with a new index that starts from 1 and increments by 2 for each row

In [5]:
import pandas as pd

def reindex_df(df):
    new_index = range(1, 2*len(df), 2)
    df = df.set_index(pd.Index(new_index))
    return df
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
print("Old Index \n",df)

df = reindex_df(df)
print("Re-Indexed \n",df)

Old Index
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
Re-Indexed
    A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

In [ ]:
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that 
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The 
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should 
calculate and print the sum of the first three values, which is 60

In [7]:
import pandas as pd

def calculate_sum_of_first_three(df):
    if 'Values' not in df.columns:
        print("The 'Values' column does not exist in the DataFrame.")
        return
    values_column = df['Values']
    sum_of_first_three = values_column.head(3).sum()
    print("Sum of the first three values in the 'Values' column:", sum_of_first_three)
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
calculate_sum_of_first_three(df)

Sum of the first three values in the 'Values' column: 60

In [ ]:
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [11]:
def count_words(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df
df2 = pd.DataFrame({'Text': ['Hello world', 'Python is great', 'Hello PW skills']})
df2 = count_words(df2)
df2

              Text  Word_Count
0      Hello world           2
1  Python is great           3
2  Hello PW skills           3

In [ ]:
Q5. How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
DataFrame.size:

DataFrame.size returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and the number of columns.
It provides a single integer value representing the total number of data points in the DataFrame.
It does not differentiate between rows and columns; it simply returns the overall size of the DataFrame.

DataFrame.shape:

DataFrame.shape returns a tuple representing the dimensions of the DataFrame, where the first element of the tuple is the number of rows, and the second element is the number of columns.
It provides more detailed information about the structure of the DataFrame, allowing you to see the number of rows and columns separately.

In summary, DataFrame.size gives you the total number of elements, while DataFrame.shape provides information about the number of rows and columns as a tuple.

In [ ]:
Q6. Which function of pandas do we use to read an excel file?

In [ ]:
In pandas, we use the read_excel() function to read data from an Excel file. This function can read both .xlsx and .xls files.

In [ ]:
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email 
addresses in the format 'username@domain.com'. Write a Python function that creates a new column 
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the 
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your 
function should extract the username from each email address and store it in the new 'Username' 
column.

In [1]:
import pandas as pd

def extract_username_from_email(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

# Example usage:
data = {'Email': ['john.doe@example.com', 'jane.smith@example.com', 'bob@company.net']}
df = pd.DataFrame(data)

df = extract_username_from_email(df)
print(df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith
2         bob@company.net         bob

In [ ]:
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects 
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The 
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

   A   B   C

0  3   5   1

1  8   2   7

2  6   9   4

3  2   3   5

4  9   1   2
Assignment
Data Science Masters
Your function should select the following rows:   A   B   C

1  8   2   7

4  9   1   2

The function should return a new DataFrame that contains only the selected rows.

In [2]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example usage:
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [ ]:
Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, 
median, and standard deviation of the values in the 'Values' column.

In [3]:
import pandas as pd

values_list = [5,10,15,20,25,25]

df1 = pd.DataFrame({'Values': values_list})

def mmm(df):
    mean = (df['Values'].mean())
    median = df['Values'].median()
    mode = df['Values'].mode()
    print("Mean of the Values Column is : {} ".format(mean))
    print("Median of the Values Column is : {} ".format(median))
    print("Mode of the Values Column is : {}".format(mode.values[0]))
mmm(df1)

Mean of the Values Column is : 16.666666666666668
Median of the Values Column is : 17.5
Mode of the Values Column is : 25

In [ ]:
Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to 
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days 
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and 
should include the current day.

In [6]:
import pandas as pd

def calculate_moving_average(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.sort_values(by='Date')
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df
data = {'Date': ['2023-09-01', '2023-09-02', '2023-09-03', '2023-09-04', '2023-09-05', '2023-09-06', '2023-09-07', '2023-09-08', '2023-09-09'],
        'Sales': [100, 120, 110, 90, 130, 150, 140, 125, 105]}
df = pd.DataFrame(data)

df = calculate_moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2023-09-01    100     100.000000
1 2023-09-02    120     110.000000
2 2023-09-03    110     110.000000
3 2023-09-04     90     105.000000
4 2023-09-05    130     110.000000
5 2023-09-06    150     116.666667
6 2023-09-07    140     120.000000
7 2023-09-08    125     123.571429
8 2023-09-09    105     121.428571

In [ ]:
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new 
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. 
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

         Date

0  2023-01-01

1  2023-01-02

2  2023-01-03

3  2023-01-04

4  2023-01-05

Your function should create the following DataFrame:


         Date    Weekday

0  2023-01-01    Sunday

1  2023-01-02     Monday

2  2023-01-03    Tuesday

3  2023-01-04    Wednesday

4  2023-01-05    Thursday

The function should return the modified DataFrame.

In [8]:
import pandas as pd

def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)
df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [ ]:
Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python 
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [11]:
date = pd.date_range('2023-01-01', '2023-02-28', freq='D')
df = pd.DataFrame({'Date' : date})

In [12]:
df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

In [ ]:
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to 
be imported?

In [ ]:
To use the basic functions of pandas, the first and foremost library that needs to be imported is, of course, the pandas library itself. You typically import it with the following line of code:

In [13]:
import pandas as pd

In [ ]:
The common convention is to alias pandas as 'pd' for brevity, which makes it easier to refer to pandas functions and objects in your code. Once you've imported pandas in your Python script or notebook, you can use its functions and data structures to work with data in tabular form, such as DataFrames and Series.